docker/certs
local-universe.tar.gz
docker/server/target/
target/

.idea/*
tmp/
repo/packages/T/tests

config-reference.md

docker/local-universe/http/
docker/local-universe/local-universe-*.tar.gz
docker/local-universe/local-consul-universe-*.tar.gz
docker/local-universe/registry/
docker/local-universe/universe/
nohup.out
